@charset "UTF-8";
@import "src/_variable.scss";

.todo-container {
  width: 570px;
  background: $tile-bg;
  margin: 0.3rem auto;
  height: 2.5rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    color: $text-color;
    width: 87%;
  }

  input {
    margin-left: 5px;
  }
}

.delete {
  width: 2.5rem;
  height: 2.5rem;
  background: inherit;
  border-radius: 0.3rem;
  border: none;
  text-align: center;
  padding: 0.1rem;
  font-size: 16px;
  position: relative;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    color: $white-text;
  }
}

.delete:active {
  background-color: #e91212;
  color: $white-text;
}

#checkbox {
  width: 20px;
  height: 20px;
}

.is-complete {
  text-decoration: line-through;
  text-decoration-style: line-through;
  text-decoration-color: #fff;
  text-decoration-thickness: 5px;
  -moz-text-decoration: line-through;
  -moz-text-decoration-color: #fff;
  -moz-text-decoration-thickness: 5px;
}
