@charset "UTF-8";
@import "src/_variable.scss";

.todo-container {
  width: 100%;
  background: $tile-bg;
  margin: 0.3rem auto;
  height: 2.5rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    color: $text-color;
    width: 87%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  input {
    margin: 1rem;
  }
}

.delete {
  width: 2.5rem;
  height: 2.5rem;
  background: inherit;
  border-radius: 0.3rem;
  border: none;
  text-align: center;
  padding: 0.1rem;
  font-size: 16px;
  position: relative;
  opacity: 1 !important;
  cursor: pointer;

  &:active {
    background-color: #e91212;
    color: $white-text;
  }
  svg {
    width: 65%;
    height: 65%;
    // margin: 0 auto;
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
  }
}

.checkbox {
  width: 15px;
  height: 15px;
}

.is-complete {
  text-decoration: line-through;
  text-decoration-style: line-through;
  text-decoration-color: #fff;
  text-decoration-thickness: 5px;
  -moz-text-decoration: line-through;
  -moz-text-decoration-color: #fff;
  -moz-text-decoration-thickness: 5px;
  opacity: 0.8;
}
@media only screen and (max-width: 400px) {
}
